[build]
  command = "CI=false npm run build"
  publish = "build"
  
[build.environment]
  NODE_VERSION = "18"
  NPM_FLAGS = "--legacy-peer-deps"
  GENERATE_SOURCEMAP = "false"
  INLINE_RUNTIME_CHUNK = "false"
  
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
